.ImageContainer {
  padding: 20px;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  .icon {
    padding: 20px;
  }
}

#uploadIcon {
  &:hover {
    color: #72ac53;
  }
}
#trashIcon {
  :hover {
    color: #FF1053;
  }
}
